[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-assembly"]
	path = themes/hugo-assembly
	url = https://github.com/salsysd/hugo-assembly.git
